// Colors Variables

$purple-01: #7e88c3;
$purple-02: #888eb0;
$purple-03: #858bb2;
$color-paid: #33d69f;
$color-pending: #ff8f00;
$color-draft: #373b53;

$edit-bg: #f9fafe;
$edit-bg-dark: #252945;
$edit-color: #7388c3;
$color-delete-btn: #ec5757;
$mark-as-paid-bg: #7c5dfa;

/*---- Color -------*/
$color-principal: #0c0e16;

$bg-color-body-dark: #141625;

$bg-color-body: #f8f8fb;
$color-btn1: #7c5dfa;
$hover-color-btn1: #9277ff;
$white: #fff;
$shadow: 0 10px 10px -10px #48549f;
$dark-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);

$color-delete-btn: #ec5757;
$hover-color-delete-btn: #ff9797;

$hover-color-add-item: #dfe3fa;

$color-draft-btn: #373b53;

$side-bar-bg-light: #373b53;
$side-bar-bg-dark: #1e2139;
$light-logo-mask: #7c5dfa;

$draft-color: #373b53;
$draft-bg: #f4f4f5;

$paid-color: #33d69f;
$paid-bg: #f3fdfa;

$pending-color: #ff7f00;
$pending-bg: #fff9f0;
